{% extends 'base.html' %}
{% block title %}
About
{% endblock %}
{% block content %}
<!--Cards-->
<section class="bg-dark text-dark p-3 text-center">
  <div class="d-sm-flex text-sm-start">
    <div class="p-5">
        <h1 class="text-light">
            About NanoLine
        </h1>
        <p class="lead text-light">
            NanoLine was created in 2021 in Ganja, Azerbaijan. The creator of NanoLine is Ahmet Kamberli. Ahmet Kamberli was born in Ganja. His dream from childhood was NanoLine and his dream is truth. He is studiing at BTAL at the moment. He is 6th grade.
        </p>
    </div>
    <img id="NanoLine" src="static/images/nano.png" alt="NanoLine" id="NanoLine" class="d-none d-md-block">
  </div>
  <h1 class="text-light pb-5">
      What do people think about NanoLine?
  </h1>
  <div class="container">
    <div class="row">
      <div class="col mb-3">
        <div class="card bg-light">
          <div class="card-body">
            <img class="image-fluid rounded-image" src="https://th.bing.com/th/id/OIP.0d1FNph9YsKswcxDzf2-VwHaFE?pid=ImgDet&rs=1" alt="Bill Gates">
            <div class="card-heading">
              <h1>
                Bill Gates
              </h1>
            </div>
            <div class="card-text">
              <p class="lead">
                "NanoLine is the one of the best programming groups in the world. NanoLine gives our world its future."
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col mb-3">
        <div class="card bg-light">
          <div class="card-body">
            <img class="image-fluid rounded-image" src="https://static.businessinsider.com/image/5df18925fd9db27e786eac82.jpg" alt="Elon Musk">
            <div class="card-heading">
              <h1>
                Elon Musk
              </h1>
            </div>
            <div class="card-text">
              <p class="lead">
                "I was very happy, when Tesla was created. I know this feeling very good. It was dejavu for me when I met with NanoLine"
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col mb-3">
        <div class="card bg-light">
          <div class="card-body">
            <img class="image-fluid rounded-image" src="http://azbto.meb.k12.tr/meb_iys_dosyalar/999/49/K749642/resimler/2019_11/k_02102930_11.jpg" alt="Halil Shahin">
            <div class="card-heading">
              <h1>
                Halil Shahin
              </h1>
            </div>
            <div class="card-text">
              <p class="lead">
                "Ahmet, sen ne yapmışsın, oğlum? Süper bir şey bu! Buna yüz vermiyeni de... Ben artık orasını bilmiyorum..."
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}